<div class="devide">
    <div class="containerone">
     <nav class="box"> <a href="/user/waitres">Are you a waitres!</a></nav>
    </div>
    <div class="containertwo">
        <nav class="boxtwo"> <a href="/user/mananger"> Are you a Mananger!</a></nav>
    </div>
</div>
<script>
   
</script>