
<div class="container">
    <div class="form">
        <h1 class="h1q">Sign In</h1>
        <br> <form action="/login" method="post">
        <label for="name">Name : </label>
        <input name="name" class="input" type="text" placeholder="Jack">
        <br>
        <div class="btn">
            <input type="submit" value="LogIn" class="sub">
        </div></form>
    </div>
</div>
